
body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background: #FFD6F4;
    color: #CF1670;
}

#bff-img {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#bday-age {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 480px;
    height: 400px;
    background-image: url("images/birthday-gift.png");
    background-size: cover;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}


#gift-img-forshaga:hover {
    background-image: url("images/forshaga.jpg");
}

#gift-img-racken:hover {
    background-image: url("images/racken.jpg");
}

#gift-img-klarabro:hover {
    background-image: url("images/klarabro.jpg");
}

#gift-img-famtfallet:hover {
    background-image: url("images/famtfallet.jpg");
}


/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/